DISCORD_TOKEN=your_bot_token
GUILD_ID=your_server_id

WELCOME_CHANNEL_ID=0
GITHUB_FEED_CHANNEL_ID=0
MOD_LOG_CHANNEL_ID=0
STANDUP_CHANNEL_ID=0
TICKET_CATEGORY_ID=0
ROLE_SELECT_MESSAGE_ID=0

GITHUB_WEBHOOK_SECRET=
WEBHOOK_PORT=8080

ADMIN_PIN=change_me
ADMIN_SESSION_MINUTES=15
MEETINGS_CHANNEL_ID=0
